.register-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
    color: #27001e;
  }
  
  .register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    flex: 1;
  }
  
  h2 {
    font-size: 2rem;
    color: #013758;
    margin-bottom: 1.5rem;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    gap: 1.2rem;
    background-color: #002df313;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  label {
    font-size: 1rem;
    color: #013758;
    font-weight: 500;
  }
  
  input {
    padding: 0.8rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 2px solid #013758; 
    outline: none;
    background-color: #c3d8db; 
    color: black;
  }
  
  input:focus {
    border-color: #002c47;
    background-color: rgb(255, 255, 255);
  }
  
  button.btn-register {
    background-color: #024670;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease;
  }
  
  button.btn-register:hover {
    background-color: #013758;
    transform: scale(1.01);
  }
  